article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.colorChange {
  background-color: white;
}

.displayNone {
  visibility: hidden;
}

.navBackgroundStart {
  background: none;
}

.addBlackBackground {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 45px;
}

body {
  transition: 0.3s all;
  background: #28965A;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  color: white;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #2D1E2F;
  font-weight: 400;
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin-top: 10px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  color: #2D1E2F;
  font-weight: 700;
  margin-top: 10px;
  text-align: left;
  margin: 0 auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #2D1E2F;
  font-weight: 400;
}

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  background: #F7B32B;
}

div.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 15px;
  transition: 0.2s all;
}

nav .socialIcons {
  list-style: none;
  float: right;
  padding: 20px 20px;
  margin: 0 13% 0 0;
}

nav .socialIcons li {
  display: inline;
  padding: 5px 0;
  border-right: 1px solid white;
}

nav .socialIcons li:last-child {
  border-right: none;
}

nav .socialIcons li a {
  color: white;
  font-size: 17px;
  padding: 0 15px;
  transition: 0.1s all;
}

nav .socialIcons li a:hover {
  background: none;
}

header {
  height: 110vh;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  position: absolute;
  z-index: 1;
  background: #28965A;
  top: 0;
}

.chevron {
  position: fixed;
  bottom: 5%;
  left: 48%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.chevron i {
  color: white;
  font-size: 40px;
}

.chevron a:hover {
  background: none;
}

section.projects {
  margin-top: 25vh;
  position: relative;
  padding: 150px 50px 0px 50px;
}

.projects h1 {
  color: #2D1E2F;
  margin-bottom: 100px;
  border-bottom: 5px solid #2D1E2F;
  padding-bottom: 20px;
}

.projects img {
  width: 480px;
  height: auto;
}

img.before {
  width: 350px;
  height: auto;
}

.projects .beforeAfter a:hover {
  background: none;
}

div.beforeAfter {
  padding-top: 20px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  margin: 0 auto;
}

div.descriptionWrapper {
  line-height: 2;
  text-align: left;
  padding: 0 25px;
}

div.descriptionWrapper p {
  margin: 30px auto;
  width: 97%;
}

div.descriptionWrapper a {
  padding: 20px;
  position: relative;
  top: 40px;
  background: #F7B32B;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s all;
}

div.descriptionWrapper a:hover {
  background: grey;
}

.projectWrapper {
  margin: 0 auto;
  padding: 0 0 20px 0;
  padding-bottom: 150px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-content: center;
  -webkit-align-content: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.projectWrapper i {
  font-size: 40px;
  padding: 50px;
  color: #2D1E2F;
}

.projectOuterWrapper {
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.projectWrapper h4 {
  padding: 0 0 10px 0;
  margin: 20px auto;
  border-bottom: 1px dotted black;
  width: 95%;
}

section.about {
  width: 100%;
  padding: 0 50px;
}

section.about h1 {
  color: #2D1E2F;
  margin-bottom: 100px;
  border-bottom: 5px solid #2D1E2F;
  padding-bottom: 20px;
}

section.about a {
  padding: 6px 0;
  transition: 0.3s all;
}

section.about .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 800px;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.profile img {
  margin-right: 50px;
  width: 310px;
  height: 389px;
}

.profile p {
  text-align: left;
  line-height: 2;
}

.thumbsUp {
  width: 100%;
  margin: 150px 0 100px 0;
  text-align: center;
}

.thumbsUp .thumbsup {
  font-size: 30px;
  color: white;
  background: black;
  padding: 45px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  transition: 1.5s all;
}

.thumbsUp a:hover {
  background: none;
}

.thumbsUp a:hover .thumbsup {
  background: #28965A;
}

footer {
  width: 100%;
  text-align: right;
}

footer p {
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 25px;
}

@media all and (max-width: 1040px) {
  div.beforeAfter {
    flex-direction: column;
  }
  .projectWrapper i {
    transform: rotate(90deg);
  }
  .profile {
    flex-direction: column;
  }
  .profile img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .profile p {
    width: 430px;
    padding-left: 20px;
  }
  .thumbsUp {
    margin: 60px 0;
  }
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
  h4 {
    font-size: 30px;
    text-align: center;
  }
  img.before {
    display: none;
  }
  .projectWrapper i {
    display: none;
  }
  .projects img {
    width: 400px;
  }
}

@media all and (max-width: 460px) {
  h1 {
    font-size: 40px;
  }
  header h3 {
    font-size: 16px;
  }
  nav .socialIcons {
    margin: 0 2% 0 0;
  }
  section.projects {
    padding: 0;
  }
  div.beforeAfter {
    padding: 0;
  }
  .projects img {
    width: 350px;
  }
  .projectWrapper {
    padding-bottom: 90px;
  }
  .profile p {
    width: 270px;
  }
  footer p {
    margin-right: 0;
  }
}

/*
animation made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
